
  <%- include partials/header.ejs -%>

 <h1>Hola</h1>

<p><%-homeText%></p>

<% arrayposts.forEach(function(post){ %>
<h1><%=post.title%></h1>
<p><%=(post.post).substring(0,100) + " ..."%> <a href="/posts/<%=post.title%>">Read more</a></p>
<% }); %>





  <%- include partials/footer.ejs -%>
